<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
    <title>Omzet</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>Omzet</h1>
</div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">&nbsp;</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" th:object="${transaksiOmzet}" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="namaCabang">Nama Cabang</label>
                            <input type="text"
                                   th:field="*{namaCabang}"
                                   name="nama" class="form-control" id="namaCabang" placeholder="Nama Cabang" readonly />
                            <label class="control-label error-label" th:if="${#fields.hasErrors('namaCabang')}" th:errors="*{namaCabang}">
                                Pesan error nanti di sini
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="tglTransaksi">Tanggal Transaksi</label>
                            <input type="text"
                                   th:field="*{tglTransaksi}"
                                   name="tglTransaksi" class="form-control" id="tglTransaksi" th:value="${transaksiOmzet.tglTransaksi}" readonly/>
                            <label class="control-label error-label"  th:if="${#fields.hasErrors('tglTransaksi')}"th:errors="*{tglTransaksi}">
                                Pesan error nanti di sini
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="omzet">Omzet</label>
                            <input type="text"
                                   th:field="*{omzet}"
                                   name="omzet" class="form-control" id="omzet" data-type="number" placeholder="omzet" />
                            <label class="control-label error-label"  th:if="${#fields.hasErrors('omzet')}"th:errors="*{omzet}">
                                Pesan error nanti di sini
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="catatan">Catatan</label>
                            <input type="text"
                                   th:field="*{catatan}"
                                   name="catatan" class="form-control" id="catatan" placeholder="catatan" />
                            <label class="control-label error-label"  th:if="${#fields.hasErrors('catatan')}"th:errors="*{catatan}">
                                Pesan error nanti di sini
                            </label>
                        </div>
                        <div class="form-group">
                            <a th:href="@{/transaksi/omzet/list}" class="btn btn-default" role="button" title="Back list">
                                <span aria-hidden="true"></span>Batal
                            </a>
                            <button type="submit" id="btn" class="box-title btn btn-primary" title="Save Data">Simpan</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
       $(document).ready(function(){
            $("input[data-type='number']").keyup(function(event){
              // skip for arrow keys
              if(event.which >= 37 && event.which <= 40){
                  event.preventDefault();
              }
              var $this = $(this);
              var num = $this.val().replace(/,/gi, "");
              var num2 = num.split(/(?=(?:\d{3})+$)/).join(",");
              $this.val(num2);
          });
        });

        $('#btn').click(function() {
            $('#omzet').val($('#omzet').val().replace(",",""));
        });
    </script>
</div>
</body>
</html>